<div class="container">
        <div class="card card-login mx-auto mt-5">
          <div class="card-header">Login</div>
          <div class="card-body">
            <form>
              <div class="form-group">
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" autofocus="autofocus">
              </div>
              <div class="form-group">
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password">
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="remember-me">
                    Remember Password
                  </label>
                </div>
              </div>
              <a class="btn btn-primary btn-block" href="index.html">Login</a>
            </form>
            <div class="text-center">
              <a class="d-block small mt-3" href="forgot-password.html">Forgot Password?</a>
            </div>
          </div>
        </div>
</div>