<div class="d-flex" id="wrapper">
    <app-navigation></app-navigation>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <app-top-nav></app-top-nav>
        <div class="container-fluid">
            <div id="content-wrapper">
                <div class="container-fluid">
                      <!-- Breadcrumbs--> 
                      <br>
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                          <a href="#">Admin</a>
                        </li>
                        <li class="breadcrumb-item active">Menu Details Page
                        </li>
                      </ol>
              
                      <!-- Icon Cards-->
                      <div class="row">
                              <div class="col-sm">
                                    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                                          <div class="carousel-inner">
                                            <div class="carousel-item active" data-interval="10000">
                                              <img src="../../assets/images/slide.jpg" height="300" class="d-block w-100" alt="...">
                                            </div>
                                          </div>
                                          <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                          </a>
                                          <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                          </a>
                                    </div>
                              </div>
                              <div class="col-sm">
                                  <div class="card text-center">
                                      <div class="card-header">
                                          Mix Veg Pakoda
                                      </div>
                                      <div class="card-body">
                                        <ul class="list-group">
                                            <li class="list-group-item" aria-disabled="true"><strong>Size</strong> variants available</li>
                                            <li class="list-group-item"><span class="badge badge-primary">full</span></li>
                                            <li class="list-group-item"><strong>Extras</strong> available</li>
                                            <li class="list-group-item"><span class="badge badge-primary">full</span></li>
                                            <li class="list-group-item">
                                                <h3 class="text-success">Available</h3>
                                            </li>
                                          </ul>
                                      </div>
                                      <div class="card-footer text-muted">
                                          <button class="btn btn-warning">Edit</button>
                                          <button class="btn btn-danger" style="margin-left: 5px">Delete</button>
                                      </div>
                                    </div>
                              </div>
                      </div>
                      <div class="row">
                          <div class="col-sm">
                              <div class="card text-center mt-5">
                                  <div class="card-header">
                                      Price Chart
                                  </div>
                                  <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th scope="col">Variant Name</th>
                                            <th scope="col">Variant Price</th>
                                            <th scope="col">Extra Name</th>
                                            <th scope="col">Extra Price</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                  </div>
                                </div>
                          </div>
                      </div>
                <!-- /page content -->
                </div>
            </div>
         </div>
     </div>
  <!-- /#page-content-wrapper -->
  </div>