<div class="d-flex" id="wrapper">
    <app-navigation></app-navigation>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <app-top-nav></app-top-nav>
        <div class="container-fluid">
            <div id="content-wrapper">
                <div class="container-fluid">
                      <!-- Breadcrumbs--> 
                      <br>
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                          <a href="#">Admin</a>
                        </li>
                        <li class="breadcrumb-item active">Offer Details
                          </li>
                      </ol>
              
                      <!-- Icon Cards-->
                      <div class="row">
                            <div class="col-sm">
                                <form >
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Terms & Conditions</label>
                                        <textarea class="form-control"  name="content" id="editor">This is some sample content.</textarea>
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary mt-3 float-left">Update Terms & Conditions</button>
                                  </form>
                            </div>
                            <div class="col-sm-1">

                            </div>
                      </div>
                <!-- /page content -->
                </div>
            </div>
         </div>
     </div>
  <!-- /#page-content-wrapper -->
</div>